@use '../../../../../../sass/variables';

.login__container {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;

	.form__field {

		.field__input {
			width: 90%;
		}
	}

	.forgot__password {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1rem;

		.text {
			color: rgba($color: variables.$black-color, $alpha: 0.5);

			&:hover {
				color: rgba($color: variables.$base-color, $alpha: 1);
			}
		}
	}

	.submit {
		padding-bottom: .5rem;

		button {
			font-weight: 600;
			text-transform: uppercase;

			.icon__sm {
				margin-left: 1rem;
			}
		}
	}

	.no__account {
		display: flex;
		justify-content: center;

		.link {
			color: rgba($color: variables.$base-color, $alpha: 1.0);

			&:hover {
				color: rgba($color: variables.$secondary-color, $alpha: 1.0);
			}
		}
	}
}