<form class="login__container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div class="form__field">
		<input pInputText pKeyFilter="email" type="email" class="field__input p-inputtext-sm" formControlName="email" autocomplete="email" required
			placeholder="Correo electrónico"/>
		<div class="helped__text" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
			<small class="error" *ngIf="email?.errors?.['required']">
				El correo electrónico es requerido
			</small>
			<small class="error" *ngIf="email?.errors?.['email']">
				El correo electrónico es inv&aacute;lido
			</small>
		</div>
	</div>
	<div class="form__field">
		<input pPassword type="password" class="field__input p-inputtext-sm" formControlName="password" [feedback]="false" placeholder="Contrase&ntilde;a" required/>
		<div class="helped__text" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
			<small class="error" *ngIf="password?.errors?.['required']">
				La contrase&ntilde;a es requerida
			</small>
		</div>
	</div>
	<div class="forgot__password">
		<a routerLink="../recovery" class="text">&iquest;Olvidaste la contrase&ntilde;a?</a>
	</div>
	<div class="form__field submit">
		<button type="submit" class="core__button {{!loginForm.valid ? 'disabled' : ''}}" [disabled]="!loginForm.valid">
			Acceder
			<i class="icon__sm uil uil-signout"></i>
		</button>
	</div>
	<div class="no__account">
		&iquest;No tienes cuenta?
		<a routerLink="../signup" class="link">
			&nbsp;&Uacute;nete
		</a>
	</div>
</form>