<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div class="login__container">
		<div class="p-fluid">
			<div class="p-field mb-4">
				<span class="p-float-label">
					<input
						type="email"
						class="p-inputtext-lg mb-1"
						pInputText
						formControlName="email"
						pKeyFilter="email"
						id="email-input"
						required
					/>
					<label for="email-input">Correo electrónico</label>
					<div
						*ngIf="email?.invalid && (email?.dirty || email?.touched)"
						class="text-center p-error block"
					>
						<div *ngIf="email?.errors?.['required']">
							<small>
								<i class="pi pi-exclamation-triangle"></i>
								Campo requerido
							</small>
						</div>
						<div *ngIf="email?.errors?.['email']">
							<small>
								<i class="pi pi-exclamation-triangle"></i>
								El correo electrónico es inválido
							</small>
						</div>
					</div>
				</span>
			</div>
			<div class="p-field mb-2">
				<span class="p-float-label">
					<p-password
						id="password-input"
						class="p-inputtext-lg mb-1"
						formControlName="password"
						[toggleMask]="true"
						[feedback]="false"
						required
					></p-password>
					<label for="password-input">Contraseña</label>
					<div
						*ngIf="password?.invalid && (password?.dirty || password?.touched)"
						class="text-center p-error block"
					>
						<div *ngIf="password?.errors?.['required']">
							<small>
								<i class="pi pi-exclamation-triangle"></i>
								Campo requerido
							</small>
						</div>
					</div>
				</span>
			</div>
			<div class="flex justify-content-end text-center mb-4">
				<a routerLink="../recovery" class="ml-1 forgot-password"
					>¿Olvidaste tu contraseña?</a
				>
			</div>
			<div class="p-field mb-2">
				<button
					pButton
					type="submit"
					icon="pi pi-send"
					iconPos="right"
					label="Acceder"
					class="p-button-rounded"
					[disabled]="!loginForm.valid"
				></button>
			</div>
			<div class="d-flex justify-content-center align-self-center text-center">
				¿No tienes una cuenta?<a routerLink="../signup" class="ml-1 not-have-account"
					>Únete</a
				>
			</div>
		</div>
	</div>
</form>
