	.support-chat {
		width: 100%;
		height: 100vh;
		min-height: 100%;

		.support-chat-sidebar {
			display: flex;
			flex-direction: column;
			align-content: center;
			border-right: 2px solid rgba($color: #000000, $alpha: 0.2);
			max-width: 360px;
			padding: .5rem 1rem;
		}

		.p-avatar.p-avatar-circle {
			overflow: visible;
		}
	}
