<section class="support-chat">
	<!-- CHAT SIDEBAR COMPONENT -->
	<div class="support-chat-sidebar">
	    <h3 class="title">Chat de soporte</h3>
	    <!--CONNECTED PEOPLE COMPONENT-->
		<div class="connected-people">
			<div class="container" *ngFor="let person of people">
				<p-avatar 
					[label]="person.label" 
					pBadge 
					severity="danger" 
					value="0" 
					shape="circle" 
					size="large"
					[style]="{'background-color': 'green'}"
				></p-avatar>
				<p>{{ person.name }}</p>
			</div>
		</div>
	    <!--CONNECTED PEOPLE-->
		<!-- CREATED SUPPORT ROOMS -->
		<div class="created-rooms h-4">
			<div class="room" *ngFor="let room of rooms">
	            <p-avatar 
					[label]="room.label" 
					shape="circle" 
					size="large" 
					class="mr-2"
				></p-avatar>
				<div class="room-about">
					<div class="container">
	                    <p class="font-light mr-1 flex-grow-1">
							{{ room.name }}
						</p>
	                    <!--<small class="text-gray-500">9:30AM</small>-->
					</div>
	                <small class="text-overflow-ellipsis overflow-hidden white-space-nowrap block">
						{{ room.description }}
	                </small>
				</div>
			</div>
		</div>
		<!-- END CREATED SUPPORT ROOMS -->
	</div>
	<!-- END CHAT SIDEBAR COMPONENT -->
	<div class="support-chat-container">
		<!-- HEADER COMPONENT -->
		<header class="support-header">
			<div class="contact">
				<div class="avatar">
					<p-avatar
						label="B"
						pBadge
						severity="success"
						value=""
						shape="circle"
						size="large"
					></p-avatar>
				</div>
				<div class="information">
					<p class="username">Brian Castro</p>
					<small class="status">En linea</small>
				</div>
			</div>
			<div class="room-options">
				<p pTooltip="Sala" tooltipPosition="bottom">#{{ room }}</p>
				<a (click)="leftRoom()" class="left-button">
					Salir
					<i class="icon pi pi-sign-out"></i>
				</a>
			</div>
		</header>
		<!-- HEADER COMPONENT END -->
		<!-- CHAT COMPONENT -->
		<div class="support-body">
			<chat-message
				*ngFor="let message of messages"
				[username]="message.sid"
				[message]="message.message"
			></chat-message>
		</div>
		<!-- CHAT COMPONENT END -->
		<div class="support-footer">
			<div class="content">
				<input
					type="text"
					pInputText
					placeholder="Escribe tu mensaje..."
					#messageInput
					class="message-input w-full"
					(keyup.enter)="sendChatMessage()" 
				/>
				<a (click)="sendChatMessage()" class="send-button">
					Enviar
					<i class="icon pi pi-send"></i>
				</a>
			</div>
		</div>
	</div>
</section>