/* Fonts */
$primary-font-family: "Poppins", sans-serif !default;
$primary-alt-font-family: "Sora", sans-serif !default;

/* Colors */
$hue-color: 40 !default;
$base-color: #ffaa00;
$secondary-color: #d99d26;
$black-color: #000;
$white-color: #fff;
$dark-color: #1a1919;
$light-color: #f5f4f4;

/* Navbar */
$navbar-height: 60px;
$navbar-font-size: 16px;