:host ::ng-deep {
	$sidebar-width: 68px;

	.sidebar-menu {
		font-family: "Spline Sans", sans-serif;
		position: fixed;
		display: block;
		left: 0;
		top: 80px;
		width: $sidebar-width;
		height: 100vh;
		background: var(--light);
		padding: 0.5rem 1rem 0 0;
		transition: all 0.3s ease;
		border-right: 2px solid rgb(0, 0, 0, 0.2);
		z-index: 100;
	}

	.nav {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;

		&-logo,
		&-link {
			display: grid;
			grid-template-columns: max-content max-content;
			align-items: center;
			column-gap: 1rem;
			padding: 0.5rem 0 0.5rem 1.5rem;
		}

		&-link {
			text-decoration: none;
			position: relative;
			color: var(--dark);
			margin-bottom: 1.5rem;
			transition: 0.3s;

			&:hover {
				color: var(--primary-color);
			}
		}

		&-icon {
			font-size: 1.25rem;
		}
	}

	.active {
		color: var(--primary-color);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 3px;
			height: 32px;
			background-color: var(--primary-color);
		}
	}

	.panel-content {
		padding-left: $sidebar-width;
	}

	@media screen and (min-width: 768px) {
		.panel-content {
			padding-left: calc(($sidebar-width + 140px) + 0rem);
		}

		.sidebar-menu {
			width: calc($sidebar-width + 140px);
			padding: 1rem 1rem 0 0;
		}
	}

	@media screen and (max-width: 411px) {
		.sidebar-menu {
			position: fixed;
			bottom: 0;
			display: block;
			top: auto;
			width: 100%;
			height: $sidebar-width;
			background: var(--light);
			padding: 0rem 1rem;
			transition: all 0.3s ease;
			border-right: none;
			border-top: 2px solid rgb(0, 0, 0, 0.2);
			z-index: 100;

			.nav {
				width: 100%;
				height: $sidebar-width;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.nav-items {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin: 0;

					.nav-link {
						margin: 0;

						span {
							display: none;
						}
					}
				}
			}
		}

		.panel-content {
			padding-left: 0;
		}

		.active {
			color: var(--primary-color);

			&::before {
				content: "";
				display: none;
				left: auto;
				top: 0;
			}
		}
	}
}
