:host ::ng-deep {
	.p-toolbar-group-right {
		.p-button {
			border: none;
			border-radius: 0;
			background-color: black;
			color: white;

			&:hover {
				background-color: var(--dark-light-color);
			}
		}

		.active {
			background-color: var(--dark-light-color);
			border: 1px solid var(--light-color);
			color: white;
		}
	}
}
