@use '../../../../sass/variables';

.authentication {
	animation: 2s fadeIn 0s ease-in-out;

	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 2.5rem;

		.card {
			height: 80%;
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			background-color: variables.$light-color;
			box-shadow: rgb(0 0 0 / 20%) 0.5rem 0.5rem 1rem 0px;
			border: 2px solid rgba($color: variables.$dark-color, $alpha: 0.2);
			border-radius: 10px;

			.content {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				overflow: hidden;

				&__header {
					display: flex;
					justify-content: space-around;
					padding: 1rem 0;

					.link {
						color: rgba($color: variables.$black-color, $alpha: 0.5);
						text-transform: uppercase;
						font-weight: 600;

						&:hover {
							color: variables.$secondary-color;
						}

						&__active {
							color: variables.$base-color;
							border-bottom: 2px solid variables.$base-color;
						}
					}
				}

				&__body {
					margin: 1rem 0;
					font-family: "Kanit", serif;
					overflow-y: scroll;

					&::-webkit-scrollbar-thumb {
						background-color: variables.$dark-color;
					}
				}

				&__footer {
					padding: 1rem;
					display: flex;
					flex-direction: column;

					.social__authentication {
						display: flex;
						justify-content: space-evenly;

						button {
							color: variables.$white-color;
							font-weight: 600;
							letter-spacing: 1px;
							border: 1px solid rgba($color: variables.$dark-color, $alpha: 0.3);

							.icon__sm {
								margin-right: .5rem;
							}

							&:hover {
								transition: .5s all ease;
								border-radius: 5px;
								background-color: fade-in($color: variables.$base-color, $amount: .5);
							}
						}

						.facebook__button {
							background-color: #0770cf;
						}

						.google__button {
							background-color: #db4437;;
						}
					}
				}
			}

			.container__image {
				background-color: variables.$base-color;
				border: 1px solid variables.$base-color;
				border-radius: 0 10px 10px 0;
				height: 100%;
				width: 50%;
				padding: .5rem 1.5rem;
				box-sizing: border-box;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.content__header {
		padding-top: 2rem;
	}

	.content__footer {
		padding: .5rem;
	}

	.card {
		min-width: 100%;
		font-size: 14px;
	}

	.social__authentication {
		flex-direction: column;
	}

	.container__image {
		display: none;
	}
}