<section id="auth-content">
	<div class="auth__container">
		<div class="header">
			<h1 class="pt-5 mb-4 text-center">
				<a routerLink="/"> Jersey Shop </a>
			</h1>
		</div>
		<div class="content mb-3">
			<p-card>
				<div class="d-flex justify-content-around align-items-center align-self-center mb-5">
					<a routerLink="login" class="hyperlink" routerLinkActive="hyperlink__active">Acceder</a>
					<a routerLink="signup" class="hyperlink" routerLinkActive="hyperlink__active">Registrarse</a>
				</div>
				<router-outlet></router-outlet>
				<div class="social__auth mt-5">
					<h4 class="text-center text-muted">O continuar con...</h4>
					<div class="d-flex justify-content-center align-self-center align-items-center">
						<button pButton type="button" icon="pi pi-facebook" iconPos="left" label="Facebook"
							class="p-button-outlined js__light__btn mr-2" (click)="onSignupFacebook()"></button>
						<button pButton type="button" icon="pi pi-google" iconPos="left" label="Google"
							class="p-button-outlined js__light__btn" (click)="onSignupGoogle()"></button>
					</div>
				</div>
			</p-card>
		</div>
		<div class="footer pb-2">
			<div class="d-flex justify-content-center align-items-center align-self-center text-center">
				<a routerLink="/privacy" class="mr-2">Política de privacidad</a>
				<span>|</span>
				<a routerLink="/terms" class="ml-2">Términos y condiciones</a>
			</div>
		</div>
	</div>
</section>