:host ::ng-deep {
	#auth-content .auth__container {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10vh;
		margin-bottom: 5vh;

		.p-card {
			font-family: 'Sora', sans-serif;
		}
	}

	.hyperlink {
		display: inline-block;
		padding: 0.1rem 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: grey;
	}

	.hyperlink:hover {
		color: var(--light-ice-color);
	}

	.hyperlink__active {
		color: var(--light-ice-color);
		border-bottom: 0.1rem #0770cf solid;
	}

	.social__auth div button {
		width: 20rem;
	}

	@media screen and (max-width: 535px) {
		.social__auth div button {
			width: 10rem;
		}
	}
}
