:host ::ng-deep {
	#auth-content .auth__container {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10vh;
		margin-bottom: 5vh;

		.p-card {
			font-family: 'Sora', sans-serif;
		}
	}

	#auth-content {
		//height: 100%;
		background-color: var(--dark-color);
	}

	.content {
		padding: 0rem;
		margin-top: 10vh;
	}

	.col-6 {
		padding: 0;
	}

	.p-image.image {
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.hyperlink {
		display: inline-block;
		padding: 0.1rem 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: grey;
	}

	.hyperlink:hover {
		color: var(--light-ice-color);
	}

	.hyperlink__active {
		color: var(--light-ice-color);
		border-bottom: 0.1rem #0770cf solid;
	}

	.social__auth div button {
		width: 20rem;
	}

	@media screen and (max-width: 535px) {
		.social__auth div button {
			width: 10rem;
		}
	}

	// AUTH VERSION 2

	.auth-container {
		background-color: var(--dark-color);
		height: 100%;
		box-shadow: rgb(0 0 0 / 60%) .5rem .5rem 1rem 0px !important;
		
		.grid {
			margin: 0;
		}

		.col {
			padding: 0;
		}

		.container {
			margin: 3.5rem 2rem;
			overflow: hidden;

			.social-links {
				//

				.hyperlink__active {
					color: #0770cf;
					font-weight: bold;
				}
			}

			.social-auth {
				margin-top: 1rem;
				text-transform: uppercase;
				
				.social-buttons {
					flex-direction: column;
					align-items: center;

					button {
						color: white;
						width: 70%;
						max-width: 70%;
						margin-bottom: .5rem;
						border-width: 0;
						border-radius: 3px;
						box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0px !important;
						font-size: inherit;
						font-family: inherit;
					}

					.facebook-btn {
						background-color: #0770cf;
					}

					.google-btn {
						background-color: #DB4437;
					}
				}
			}
		}

		.image-container {
			padding: 0;

			.image-background {
				background-color: var(--light-color);
				width: 100%;
				height: 100%;
				padding: 0 2rem;
				border-left: 1px solid gray;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		@media screen and (max-width: 768px) {

			.image-container {
				display: none;
			}

		}
	}

	@media screen and (min-width: 1367px) {

		.auth-container {
			max-width: 1366px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10vh;
			align-self: center;
			align-items: center;
			justify-content: center;
		}
		
	}
}
