<section class="authentication section">
	<div class="authentication__container">
		<div class="card">
			<div class="content">
				<div class="content__header">
					<a routerLink="login" routerLinkActive="link__active" class="link">Acceder</a>
					<a routerLink="signup" routerLinkActive="link__active" class="link">Registrarse</a>
				</div>
				<div class="content__body">
					<router-outlet></router-outlet>
				</div>
				<div class="content__footer">
					<div class="social__authentication">
						<button class="flex__button facebook__button"
							(click)="onSignupFacebook()">
							<i class="icon__sm uil uil-facebook"></i>
							Facebook
						</button>
						<button class="flex__button google__button"
							(click)="onSignupGoogle()">
							<i class="icon__sm uil uil-google"></i>
							Google
						</button>
					</div>
				</div>
			</div>
			<img class="container__image" src="assets/images/auth-background.svg" alt="" loading="lazy">
		</div>
	</div>
</section>