#not-found {
	height: 100vh;
	min-height: 100%;
	background-color: var(--light);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	font-family: "Kanit", sans-serif;
	padding: 0 2rem;
	animation: 2s fadeIn 0s forwards;

	.not-found-image {
		height: 350px;
		width: auto;
	}

	.detail {
		font-size: 3rem;
		font-weight: 600;
		margin: 0 0 1rem 0;
	}

	.button {
		padding: 0.7rem 1rem;
		border-radius: 5px;
		color: white;

		&:hover {
			background-color: var(--primary-alt-color);
		}
	}
}
