<section class="not__found section">
	<div class="not__found__container section__container">
		<img class="container__image" src="assets/images/404.svg" alt="Pagina no encontrada" loading="lazy">
		<div class="content__information">
			<h2 class="title">
				p&aacute;gina no encontrada
			</h2>
			<p class="error__detail">
				&iquest;Acaso un cliente se llevo nuestra pagina u olvidamos publicarla?
			</p>
			<a routerLink="" class="core__button">
				Ir al inicio
			</a>
		</div>
	</div>
</section>