:host ::ng-deep {
	#not-found {
		height: 100vh;
		background-color: var(--light);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		align-content: center;
		font-family: 'Kanit', sans-serif;
		padding: 0 4rem;
		animation: 2s fadeIn 0s forwards;

		.not-found-image {
			height: 350px;
			width: auto;
		}

		.detail {
			font-size: 3.5rem;
			font-weight: 600;
			margin: 0 0 1rem 0;
		}

		.button {
			padding: .5rem 1rem;
			border-radius: 5px;
			color: white;

			&:hover {
				background-color: var(--primary-alt-color);
			}
		}

	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}
}