:host ::ng-deep {
    .support-area {
        .p-speeddial-direction-up {
            &.speeddial-left {
				position: fixed;
                padding: 1rem 1rem;
				//position: -webkit-sticky;
                left: 0;
                bottom: 0;
            }
			.support-button {
				background-color: var(--light-blue-color);
				color: rgb(19, 19, 19);
				border: none;
                width: 3rem;
                height: 3rem;
			}
        }
    }
}