:host ::ng-deep {
	.support-area {
		.p-speeddial-direction-up {
			&.speeddial-left {
				position: fixed;
				padding: 1rem 1rem;
				left: 0;
				bottom: 0;
			}

			.support-button {
				background-color: var(--primary-color);
				color: white;
				width: 2.5rem;
				height: 2.5rem;
				border: none;
			}

			.p-speeddial-action {
				background-color: var(--primary-alt-color);
			}
		}
	}
}
