<header class="navbar" #navbar>
	<div class="navbar__container">
		<div class="navbar__container__left">
			<button title="Menu" type="menu" class="flex__button menu__bars {{sidebarIsOpen ? 'active' : ''}}" (click)="displaySidebar()">
				<i class="icon uil uil-bars"></i>
			</button>
			<div class="logo">
				<a routerLink="home">
					<img src="assets/logos/js.svg" alt="Main Jersey Shop logo" class="logo__image">
				</a>
			</div>
		</div>
		<!--<div class="navbar__container__center">
			<form class="search__container">
				<label for="search" class="search__icon">
					<i class="uil uil-search"></i>
				</label>
				<input type="search" class="search__input" id="search" placeholder="Buscar prenda">
			</form>
		</div>-->
		<div class="navbar__container__right">
			<a class="flex__button profile__button" routerLink="auth" routerLinkActive="active">
				<i class="icon__sm uil uil-user"></i>
				{{ (isLoggedIn | async) ? 'Perfil' : 'Acceder' }}
			</a>
			<div class="rounded__group">
				<button pTooltip="Notificaciones" tooltipPosition="bottom" type="button"
					class="flex__button rounded__button {{active ? 'active' : ''}}" (click)="showNotifications()">
					<i class="icon uil uil-bell"></i>
				</button>
				<button type="button" class="flex__button rounded__button" role="button">
					<i class="icon uil uil-heart"></i>
				</button>
				<button type="button" class="flex__button rounded__button" role="button">
					<i class="icon uil uil-shopping-bag"></i>
				</button>
				<ng-template [ngIf]="this.isLoggedIn | async">
					<button type="button" class="flex__button rounded__button" pTooltip="Panel" tooltipPosition="bottom"
						routerLink="/admin" routerLinkActive="active">
						<i class="icon uil uil-window"></i>
					</button>
					<button type="button" class="flex__button rounded__button" pTooltip="Salir"
						tooltipPosition="bottom" (click)="logout()">
						<i class="icon uil uil-signout"></i>
					</button>
				</ng-template>
			</div>
		</div>
	</div>
</header>
<p-sidebar [(visible)]="this.sidebarIsOpen" [baseZIndex]="10000" [transitionOptions]="'300ms'"
	[blockScroll]="false">
	<ng-template pTemplate="content">
		<p-panelMenu [model]="sidebarContent"></p-panelMenu>
	</ng-template>
</p-sidebar>