<form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
	<div class="password-recovery__container">
		<div class="info-content justify-content-center text-center mb-5">
			<h4>Restablecer contraseña</h4>
			<p>
				Escribe tu dirección de email a continuación y te enviaremos un correo electrónico
				con la información que solicitas
			</p>
		</div>
		<div class="p-fluid">
			<div class="p-field mb-4">
				<span class="p-float-label">
					<input
						type="email"
						class="p-inputtext-lg mb-1"
						pInputText
						formControlName="email"
						pKeyFilter="email"
						id="email"
						required
					/>
					<label for="email">Correo electrónico</label>
					<div
						*ngIf="email?.invalid && (email?.dirty || email?.touched)"
						class="text-muted text-center"
					>
						<div *ngIf="email?.errors?.['required']">
							<small>Escribe el correo electrónico de tu cuenta</small>
						</div>
						<div *ngIf="email?.errors?.['emai']">
							<small>El correo electrónico debe ser válido</small>
						</div>
					</div>
				</span>
			</div>
			<div class="p-field mb-2">
				<button
					pButton
					type="submit"
					icon="pi pi-send"
					iconPos="right"
					label="Recuperar"
					class="p-button-rounded js__light_btn"
					[disabled]="!recoveryForm.valid"
				></button>
			</div>
		</div>
	</div>
</form>
