@use '../../../../../../sass/variables';

.recovery__container {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;

	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1.5rem;

		.title {
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			color: rgba($color: variables.$black-color, $alpha: 0.5);
		}

		.information {
			text-align: center;
			margin-bottom: 1rem;
		}
	}

	.form__field {

		.field__input {
			width: 90%;
		}

		.helped__text {
			display: flex;
			justify-content: center;

			small {
				color: rgba($color: variables.$black-color, $alpha: 0.5);
			}
		}
	}

	.submit {
		padding-bottom: 0;
		margin: 0;

		button {
			font-weight: 600;
			text-transform: uppercase;

			.icon__sm {
				margin-left: 1rem;
			}
		}
	}
}