<form class="recovery__container" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
	<div class="body">
		<h3 class="title">
			Restablecer contrase&ntilde;a
		</h3>
		<p class="information">
			Escribe tu dirección de email a continuación y te enviaremos un correo
			electrónico con la información que solicitas
		</p>
	</div>
	<div class="form__field">
		<input pInputText pKeyFilter="email" type="email" class="field__input p-inputtext" formControlName="email" autocomplete="email" required
			placeholder="Correo electrónico"/>
		<div class="helped__text" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
			<small class="error" *ngIf="email?.errors?.['required']">
				El correo electrónico es requerido
			</small>
			<small class="error" *ngIf="email?.errors?.['email']">
				El correo electrónico es inv&aacute;lido
			</small>
		</div>
	</div>
	<div class="form__field submit">
		<button type="submit" class="core__button {{ !recoveryForm.valid ? 'disabled' : '' }}" [disabled]="!recoveryForm.valid">
			Enviar
			<i class="icon__sm uil uil-share"></i>
		</button>
	</div>
</form>