<div class="notification-container" #notification>
    <div class="notification-content">
        <div class="notification-header">
            <h2 class="title">Notificaciones</h2>
            <a (click)="reload()" class="reload">
                <i class="pi pi-replay"></i>
            </a>
        </div>
        <hr>
        <div *ngIf="(notifications$ | async)?.length! > 0; else noNotifications">
            <div *ngFor="let notification of notifications$ | async" class="notification-card" (click)="goToUrl(notification.hyperlink!)">
                <h3 class="title">{{ notification.title | titlecase }}</h3>
                <span class="description">{{ notification.description }}</span>
                <small class="time-ago">
                    <i class="pi pi-clock"></i>
                    <span>{{ notification.time_ago | date }}</span>
                </small>
            </div>
        </div>
        <ng-template #noNotifications>
            <div class="notification-none">
                <div class="title">No hay notificaciones</div>
            </div>
        </ng-template>
    </div>
</div>