@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;500;600;700;900&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400;1,700&family=Sora:wght@300;400;700;800&family=Spline+Sans:wght@400;600;700&display=swap");

:root {
	--hue-color: 40;

	/* COLORS: hue, saturation, lightness */
	--primary-color: hsl(var(--hue-color), 100%, 50%);
	--primary-alt-color: hsl(var(--hue-color), 70%, 50%);
	--light: hsl(var(--hue-color), 0%, 100%);
	--dark: hsl(var(--hue-color), 0%, 0%);
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: var(--primary-color);
	}

}
	body::selection {
		background-color: var(--primary-color);
		color: white;
	}

	body::-moz-selection {
		background-color: var(--primary-color);
		color: white;
	}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* CUSTOM ELEMENTS */
.o-button {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0;
	box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.5);

	&:hover {
		background-color: var(--primary-alt-color) !important;
	}
}

.required-field {
	color: rgb(0, 0, 0, 0.5);
}

/* SPINNER BACKGROUND STYLES */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	z-index: 2000;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: column;

	.loading {
		color: var(--light);
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

/* NO SCRIPT STYLES */
#no-script-content {
	background-color: var(--light-white);
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	flex-direction: column;

	.app-logo {
		height: 300px;
	}

	.title {
		font-size: 4rem;
		font-weight: 600;
		margin-bottom: 0.2rem;
		text-shadow: 1px 1px 2px var(--dark-color);
		word-spacing: 0.5rem;
	}

	.sub-title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-style: italic;
	}

	p {
		font-size: 20px;
		margin-bottom: 0.5rem;
	}

	.button {
		position: relative;
		border-radius: 50px;
		padding: 0.5rem 1.75rem;
		overflow: hidden;
		border: none;
		background-color: var(--dark-light-color);
		color: var(--light-ice-color);
		transition: all 100ms;
	}
}

@media screen and (max-width: 768px) {
	#no-script-content {
		text-align: center;
		padding: 0 1rem;

		.title {
			font-size: 3rem;
		}

		.sub-title {
			font-size: 1rem;
		}

		p {
			font-size: 16px;
		}
	}
}
