@use "@angular/material" as mat;

/* Project Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400;1,700&family=Spline+Sans:wght@400;600;700&display=swap");

@include mat.core();

$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$client-warn: mat.define-palette(mat.$red-palette);
$client-theme: mat.define-light-theme(
	(
		color: (
			primary: $client-primary,
			accent: $client-accent,
			warn: $client-warn,
		),
	)
);

@include mat.all-component-themes($client-theme);

:root {
	/* Main colors */
	--primary-dark-color: hsl(40, 41%, 73%);
	--secondary-dark-color: hsl(40, 68%, 49%);

	/* Dark palette colors */
	--dark-color: rgba(46, 52, 64, 1);
	--dark-grey-color: rgba(59, 66, 82, 1);
	--dark-grey-light-color: hsl(220, 39%, 22%);
	--dark-light-color: hsl(220, 28%, 36%);

	/* Light palette colors */
	--light-color: hsl(218, 3%, 94%);
	--light-ice-color: hsl(218, 5%, 92%);
	--light-blue-color: hsl(219, 7%, 88%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
	//font-family: Roboto, "Helvetica Neue", sans-serif;
	//font-family: 'Merriweather', serif;
	//font-family: 'Roboto Condensed', sans-serif;
	font-family: "Spline Sans", "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
}

body#dark-mode {
	background-color: var(--dark-color);
	color: var(--light-color);
}

/* Customize elements */
.js__light__btn {
	border-radius: 0;
	border-color: var(--light-color) !important;
	color: var(--light-color) !important;
}

.js__dark__btn {
	border-radius: 0;
	border-color: var(--dark-grey-color);
	color: var(--light-ice-color);
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 2000;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: column;
}
.overlay .loading {
	color: black;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/* Styles for no script content */
#no-script-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	.app-logo {
		height: 300px;
	}

	.how-do {
		margin-top: 2rem;
	}

	.app-btn {
		position: relative;
		border-radius: 50px;
		padding: 0.5rem 1.75rem;
		overflow: hidden;
		border: none;
		background-color: var(--dark-light-color);
		color: var(--light-ice-color);
		transition: all 100ms;
	}
}
