<form [formGroup]="signupForm" (ngSubmit)="validate()">
	<div class="signup-container">
		<div class="p-fluid formgrid">
			<div class="grid">
				<div class="field col-6 mb-4">
					<input
						type="text"
						class="mb-1"
						pInputText
						pTooltip="Escribe tu nombre"
						formControlName="name"
						pKeyFilter="alpha"
						id="name"
						tooltipEvent="focus"
						placeholder="Nombre"
						required
					/>
					<div
						*ngIf="name?.invalid && (name?.dirty || name?.touched)"
						class="text-center block"
					>
						<div *ngIf="name?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
					</div>
				</div>
				<div class="field col-6 mb-4">
					<input
						type="text"
						class="mb-1"
						pInputText
						pTooltip="Escribe tu apellido"
						formControlName="last_name"
						pKeyFilter="alpha"
						id="lastName"
						tooltipEvent="focus"
						placeholder="Apellido"
						required
					/>
					<div
						*ngIf="
							last_name?.invalid && (last_name?.dirty || last_name?.touched)
						"
						class="text-center block"
					>
						<div *ngIf="last_name?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="grid" formGroupName="profile">
				<div class="field col-6 mb-4">
					<input
						type="text"
						pInputText
						pTooltip="Teléfono"
						formControlName="phone_number"
						pKeyFilter="pnum"
						id="phone_number"
						tooltipEvent="focus"
						placeholder="Teléfono"
						required
					/>
					<div
						*ngIf="phone_number?.invalid && (phone_number?.dirty || phone_number?.touched)"
						class="text-center block"
					>
						<div *ngIf="phone_number?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
					</div>
				</div>
				<div class="field col-6 mb-4">
					<p-selectButton 
						[options]="genderOptions" 
						formControlName="gender" 
						class="mb-1" 
						pTooltip="Genero" 
						tooltipPosition="top" 
						required
					></p-selectButton>
					<div
						*ngIf="
							gender?.invalid && (gender?.dirty || gender?.touched)
						"
						class="text-center block"
					>
						<div *ngIf="gender?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="p-field col-12 mb-4">
					<input
						type="email"
						class="mb-1"
						pInputText
						pTooltip="Escribe tu correo electrónico"
						formControlName="email"
						pKeyFilter="email"
						id="email"
						tooltipEvent="focus"
						placeholder="Correo electrónico"
						required
					/>
					<div
						*ngIf="email?.invalid && (email?.dirty || email?.touched)"
						class="text-center block"
					>
						<div *ngIf="email?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
						<div *ngIf="email?.errors?.['email']">
							<small class="required-field">
								El formato es inválido
							</small>
						</div>
						<div *ngIf="email?.errors?.['maxlength']">
							<small class="required-field">
								Máximo 70 caracteres
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="p-field col-12 mb-4">
					<p-password
						id="password-input"
						class="mb-1"
						formControlName="password"
						[toggleMask]="true"
						placeholder="Contraseña"
						promptLabel="Escribe la contraseña"
						weakLabel="Débil"
						mediumLabel="Aceptable"
						strongLabel="Fuerte"
						required
					></p-password>
					<div
						*ngIf="
							password?.invalid && (password?.dirty || password?.touched)
						"
						class="text-center block"
					>
						<div *ngIf="password?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
						<div *ngIf="password?.errors?.['minlength']">
							<small class="required-field">
								Mínimo 8 caracteres
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="p-field col-12 mb-4">
					<p-password
						id="confirm-password-input"
						class="mb-1"
						formControlName="confirm_password"
						[toggleMask]="true"
						placeholder="Confirmar contraseña"
						promptLabel="Escribe la contraseña"
						weakLabel="Débil"
						mediumLabel="Aceptable"
						strongLabel="Fuerte"
						required
					></p-password>
					<div
						*ngIf="
							confirm_password?.invalid &&
							(confirm_password?.dirty || confirm_password?.touched)
						"
						class="text-center block"
					>
						<div *ngIf="confirm_password?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
						<div *ngIf="confirm_password?.errors?.['minlength']">
							<small class="required-field">
								Mínimo 8 caracteres
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="p-field col-12 mb-4">
					<p-calendar
						dateFormat="yy-mm-dd"
						formControlName="birthday"
						[required]="true"
						[showIcon]="true"
						inputId="birthday"
						placeholder="Fecha de nacimiento"
					></p-calendar>
					<div
						*ngIf="
							birthday?.invalid && (birthday?.dirty || birthday?.touched)
						"
						class="text-center block"
					>
						<div *ngIf="birthday?.errors?.['required']">
							<small class="required-field">
								Campo requerido
							</small>
						</div>
					</div>
				</div>
				<div class="p-field col-12 mb-2">
					<p-checkbox
						formControlName="accept_advertising"
						[binary]="true"
						inputId="accept_advertising"
						label="Suscribirme a los avisos de la tienda relacionados a nuevo contenido y demás"
					></p-checkbox>
				</div>
				<div class="p-field col-12 mb-4">
					<p-checkbox
						formControlName="accept_terms"
						[binary]="true"
						inputId="accept_terms"
						label="Al dar click acepto los términos y políticas de privacidad expuestas explícitamente por la tienda"
					></p-checkbox>
				</div>
			</div>
			<div class="p-field mb-3">
				<button
					pButton
					type="submit"
					icon="pi pi-send"
					iconPos="right"
					label="Únete"
					class="o-button p-button-rounded"
					[disabled]="!signupForm.valid"
				></button>
			</div>
			<div class="flex justify-content-center align-self-center text-center">
				¿Ya tienes una cuenta?
				<a routerLink="../login" class="ml-1 have-account">
					Acceder
				</a>
			</div>
		</div>
	</div>
</form>
