/* Pure CSS Spinner */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid var(--light);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--light) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Animated spinner
@keyframes ldio-nocxzougzaa {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ldio-nocxzougzaa div {
	box-sizing: border-box !important;
}

.ldio-nocxzougzaa > div {
	position: absolute;
	width: 144px;
	height: 144px;
	top: 28px;
	left: 28px;
	border-radius: 50%;
	border: 16px solid #000;
	border-color: #1d3f72 transparent #1d3f72 transparent;
	animation: ldio-nocxzougzaa 1s linear infinite;
}

.ldio-nocxzougzaa > div:nth-child(2),
.ldio-nocxzougzaa > div:nth-child(4) {
	width: 108px;
	height: 108px;
	top: 46px;
	left: 46px;
	animation: ldio-nocxzougzaa 1s linear infinite reverse;
}

.ldio-nocxzougzaa > div:nth-child(2) {
	border-color: transparent #5699d2 transparent #5699d2;
}
.ldio-nocxzougzaa > div:nth-child(3) {
	border-color: transparent;
}
.ldio-nocxzougzaa > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-nocxzougzaa > div:nth-child(3) div:before,
.ldio-nocxzougzaa > div:nth-child(3) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 48px;
	background: #1d3f72;
	border-radius: 50%;
	box-shadow: 0 128px 0 0 #1d3f72;
}
.ldio-nocxzougzaa > div:nth-child(3) div:after {
	left: -16px;
	top: 48px;
	box-shadow: 128px 0 0 0 #1d3f72;
}

.ldio-nocxzougzaa > div:nth-child(4) {
	border-color: transparent;
}
.ldio-nocxzougzaa > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-nocxzougzaa > div:nth-child(4) div:before,
.ldio-nocxzougzaa > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 30px;
	background: #5699d2;
	border-radius: 50%;
	box-shadow: 0 92px 0 0 #5699d2;
}
.ldio-nocxzougzaa > div:nth-child(4) div:after {
	left: -16px;
	top: 30px;
	box-shadow: 92px 0 0 0 #5699d2;
}
.loadingio-spinner-double-ring-fx4qdbdfrx {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
}
.ldio-nocxzougzaa {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.ldio-nocxzougzaa div {
	box-sizing: content-box;
}*/

.progress-bar {
	position: fixed;
	top: 5rem;
	height: 6px;
	background-color: var(--light);
	width: 100%;
	overflow: hidden;
	z-index: 1000;

	.progress-bar-value {
		width: 100%;
		height: 100%;
		background-color: var(--primary-color);
		animation: indeterminateAnimation 1s infinite linear;
		transform-origin: 0% 50%;
	}

	@keyframes indeterminateAnimation {
		0% {
			transform: translateX(0) scaleX(0);
		}
		40% {
			transform: translateX(0) scaleX(0.4);
		}
		100% {
			transform: translateX(100%) scaleX(0.5);
		}
	}
}

@media screen and (max-width: 410px) {
	.progress-bar {
		top: 3.15rem;
	}
}
